.gitignore
.vs/rose/v15/.suo
.vs/rose/v15/Browse.VC.db
rose/temp.txt
rose/main
**.o
**.obj
**/.vscode/**
./.vscode/**
*.tlog
Debug
Debug/**
Release
Release/**
rose/Debug
rose/Debug/**
rose/Release/**
rose.sln
